#root{
	-fx-background-color: papayawhip;
}

#serverB{
	-fx-background-color: linear-gradient(palegreen, paleturquoise);
 	-fx-font-weight: bold;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
    -fx-font-size: 13;
    -fx-font-weight: bold;
}
#clientB{
	-fx-background-color: linear-gradient(aquamarine, lightcyan);
 	-fx-font-weight: bold;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
    -fx-font-size: 13;
    -fx-font-weight: bold;
}